/* BODY */
/* Biar body ambil tinggi penuh dan flex column */
html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: black;
}

/* Section utama supaya ambil space tengah */
main {
  flex: 1; /* Ambil ruang tersisa */
}

/* Footer tetap di bawah */
.footer {
  background-color: black;
  color: white;
  padding: 10px 0;
}

/* background color */
.navbar,
.general,
.about,
.footer {
  background-color: black;
}
/* text color */
.about a,
.general h1,
.footer a,
.text-hover,
p {
  color: white;
  text-decoration: none;
}
/* text-hover */
.text-hover:hover {
  color: #1095c1;
}
/* END BODY */
/* NAVBAR */
.navbar {
  padding-top: 20px;
}
/* navbar text */
.navbar a {
  font-weight: bold;
}
.nav-item {
  background-image: linear-gradient(#1095c1 0 0);
  background-size: 200% 0.08em; /* .08em is our fixed height, use what you want  */
  background-position: 200% 100%;
  background-repeat: no-repeat;
  transition: background-size 0.2s, background-position 0.2s 0.2s;
}
.nav-item:hover {
  transition: background-size 0.2s 0.2s, background-position 0.2s;
  background-size: 200% 100%;
  background-position: 100% 100%;
}
/* END NAVBAR */
/* GENERAL */
.general {
  padding-top: 80px;
}
.general img {
  width: 150px;
}
/* icon */
.btn-icon {
  border-radius: 50%;
  font-size: 20px;
  color: white;
  margin-right: -8px;
  margin-left: -8px;
}
.btn-icon:hover {
  background-color: #1095c1;
}
/* general text */
.general h1 {
  padding-top: 10px;
  font-weight: bold;
}
/* END GENERAL */

/* ABOUT */
.about {
  padding-top: 50px;
  padding-bottom: 30px;
}
/* text about */
.about p,
.about a {
  font-size: 23px;
}
/* END ABOUT */
