body {
  background-color: #111;
  min-height: 500px;
}

/* navbar .navbar {
  background-color: #111;
} */
/* .navbar a {
  font-weight: bold;
  color: purple;
}

.nav li a {
  color: purple;
}
.feature:hover {
  background-color: purple;
}
.icon-bar {
  background-color: purple;
} */

/* end navbar */

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 50px;
  padding-top: 40px;
  padding-bottom: 20px;
  color: purple;
}
#bawah a {
  color: purple;
}

/* index */
.info {
  margin-top: 80px;
  min-height: 300px;
}
.info img {
  width: 150px;
}
.info h1 {
  font-weight: bold;
  color: purple;
}
.icon i {
  font-size: 25px;
  color: purple;
}
.fa {
  /* position: fixed; */
  border: 10px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
.fa:hover {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: yellow;
}

.about p {
  color: purple;
  font-size: 20px;
}

.ghp p {
  color: purple;
}
#judul-ghp p {
  font-weight: bold;
  font-size: 20px;
}
/* end index */
